<div class="flex justify-between mt-10 ml-10 mr-10">
  <%= landing_pages_top_level_link_to("< Home", root_path, data: { turbo: false }) %>
  <%- unless signed_in? %>
    <%= landing_pages_top_level_link_to("Sign in", new_user_session_path, data: { turbo: false }) %>
  <% end %>
</div>