<div class="flex items-center gap-x-6">
  <%= image_tag brand_image_path, class: 'h-16 w-auto', alt: "Logo" %>
  <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl"><%= brand_text %></h1>
</div>