<div class="flex min-h-screen flex-col justify-center items-center py-12 sm:px-6 lg:px-8">
  <div class="flex items-center justify-center space-x-4">
    <%= landing_pages_h1 title:, title_class: 'text-2xl sm:text-4xl text-zinc-800 dark:text-zinc-200' %>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white dark:bg-black py-8 px-4 shadow-sm sm:rounded-lg sm:px-10">
      <%= yield %>
    </div>
    <%= content_for :extra_links %>
  </div>
</div>
