<!DOCTYPE html>
<html lang="<%= html_lang %>" class="h-full text-zinc-950 antialiased lg:bg-zinc-100 dark:bg-zinc-900 dark:text-white dark:lg:bg-zinc-950">
  <%= render 'head' %>
  <body class="hold-transition login-page">
    <div id="flash-notifications" class="fixed top-4 right-4 z-50 space-y-2">
      <%= render 'flash_notifications' %>
    </div>

    <div class="relative isolate min-h-svh w-full max-lg:flex-col lg:bg-zinc-100 dark:bg-zinc-900 dark:text-white dark:lg:bg-zinc-950">
      <main class="py-2">
        <div class="px-2">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>


